<div class="avatar <%= member.initials %>" >
	<style>
		.avatar:after { background: hsl(<%= member.color %>, 70%, 50%); }
	</style>
	<div>
		<%= (member.initials[0] + member.initials[-1]) %>
	</div>
</div>