<div class="branch" id="<%= member.id %>" >
	<div class="branch-members" >
		<%= render partial: "members/card", object: member, as: 'member' %>
		<% if !!member.current_spouse %>
			<%= render partial: "members/card", object: member.current_spouse, as: "member", locals: {spouse: "spouse" } %>
		<% end %>
	</div>
	<% if !!member.children.first %>
		<i class="expand hide fas fa-chevron-circle-up" ></i>
<!-- 		<script>
			$(this).find(".expand").click(function(event) {
				this.toggleClass("fa-chevron-circle-down fa-chevron-circle-up");
			});
		</script>
 -->		<div class="children" >
			<% member.children.each do |mem| %>
				<%= render partial: "branch", object: mem, as: "member" %>
			<% end %>
		</div>
	<% end %>
</div>